EDGE_SERVER_BASE_URL=http://localhost:8080
EDGE_TASK_LIST_PATH=/api/edge/tasks
EDGE_TASK_REPORT_PATH=/api/edge/tasks/report
EDGE_ID=hf-101-edge-01
EDGE_POLL_INTERVAL_SEC=5
EDGE_REPORT_INTERVAL_SEC=10
EDGE_BIND_HOST=0.0.0.0
EDGE_BIND_PORT=18080
EDGE_SIMULATE=1
EDGE_VERSION=v1.2.1
EDGE_HIK_SDK_DIR=E:\Project\SmartCampus-school\edge_services\sdk
EDGE_FFMPEG_BIN=ffmpeg
